/*------------------PANTALLA 768px--------------------*/
@media (min-width: 768px){
    #nuestrapropuesta{
        #trabajosalumnos{
            .fotosalumnos{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                margin: initial;
                width: 115%;
                margin: 0 -7.5%;
            }
            .sacar{
                display: none;
            }
        }
    }
}

/*------------------PANTALLA 950px--------------------*/
@media (min-width: 950px){
    header{
        #barranavegacion{
            display: inline-block;
            a{
                .logo{
                    box-sizing: content-box;
                    padding-left: 0;
                    width: 142.5px;
                }
            }
            nav{
                position: fixed;
                top: -60px;
                right: 5%;
                .menu{
                    ul{
                        overflow: visible;
                        /* position: absolute;
                        top: 5px;
                        right: 5%; */
                        /* background-color: none; */

                        display: flex;
                        justify-content: flex-end;
                        top: 70px;
                        li{
                            display: inline;
                            padding-left: 28px;
                            a{
                                color: $colorblanco;
                                margin-top: -8px;             
                            }
                            a:hover{
                                font-weight: bold;
                                color: $colorblanco;
                            }
                        }
                        li:hover{
                            background-color: initial; 
                        }
                        .botonblanco{
                            a{
                                color: $colorppal;
                                background-color: $colorblanco;
                                padding: 0 20px;
                                border-radius: 50px;
                                font-weight: bold;
                            }
                            a:hover{
                                font-weight: normal;
                                color: $colorppal;
                            }
                        }
                        .botonblanco:hover{
                            a{
                                color: $colorppal;
                                background-color: $colorblanco;
                            }
                            a:hover{
                                color: $colorppal;
                            }
                        }
                    }
                    span{
                        display: none;
                    }
                }
                input#checkbox{
                    display: none;
                }
            }
        }
    }
    main{
        #presentacion{
            .row{
                .informacion{
                    width: 50%;
                    h1{
                        font-size: 6rem;
                        line-height: 6rem;
                    }
                }
            }
        }
        #nosotros{
            .row{
                .informacion{
                    .celular{
                        display: none;
                    }
                    .computadora{
                        display: inherit;
                    }
                }
            }
        }
        #nuestrapropuesta{
            #trabajosalumnos{
                .celular{
                    display: none;
                }
                .computadora{
                    display: inherit;
                }
            }
        }
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding-left: 5%;
        padding-right: 5%;
        .datosfinales{
            text-align: center;
            margin: 0;
        }
        .izquierda{
            text-align: left;
        }
        .iconos{
            text-align: right;
            align-self: flex-end; 
            margin: 0;
        }
    }
}

/*------------------PANTALLA 990px--------------------*/

@media (min-width: 990px){
    #presentacion{
        .row{
             .col-lg-6{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    main{
            #quehacemos{
            .row{
                .foto{
                    order: 1;
                }
            }
        }
    }

    section#quehacemos.container-fluid{
        padding-left: 0;
        padding-right: 0;
    }

    div.row{
        width: 100%;
    }
   
}

/*------------------PANTALLA 1050px--------------------*/
@media (min-width: 1110px){
    #presentacion{
        .row{
            .col-lg-6{
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }    

    main{
        #presentacion{
            .row{
                .informacion{
                    width: 50%;
                    h1{
                        font-size: 6rem;
                        line-height: 6rem;
                    }
                }
                .foto{
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: right;
                    height: 470px;
                    padding: 0 60px 0 0;
                    img{
                        height: 450px;
                        z-index: 99;
                        animation: mover 6s infinite;
                    }
                    .circulo{
                        border-radius: 50%;
                    }
                    .c1{
                        animation: achicar 5s infinite;
                        background: $colorppal;
                        width: 650px;
                        height: 650px;
                        position: absolute;
                        top: -240px;
                        right: -160px;
                    }
                    .c2{
                        animation: achicar2 6s infinite;
                        background:  $colorblanco;
                        width: 400px;
                        height: 400px;
                        position: absolute;
                        top: -100px;
                        right: -30px;
                    }
                }
            }
        }

        #nuestrapropuesta{
            .informacion{
                p{
                    width: 60%;
                }
            }
            ul.row{
                display: flex;
                flex-direction: row;
                li{
                    width: 20%;
                }
            }
            #trabajosalumnos{
                .fotosalumnos{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    margin: initial;
                    width: 115%;
                    margin: 0 -7.5%;
                }
                .sacar{
                    display: inherit;
                }
            }
        }

        #contacto{
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
            .mapa{
                margin: 0;
            }
        }
    }

}


/*------------------PANTALLA 1400px--------------------*/
@media (min-width: 1200px){
    main{
        max-width: 1500px;
        margin-right: auto;
        margin-left: auto;
    }
}
