#contacto{
    text-align: center;
    padding: 80px 0 0 0;
    margin: initial;
    display: grid;
    grid-template-rows: 1fr 1fr;  

    margin-bottom: 80px;
    .informacion{
        float: left;
        width: 100%;
        padding: 0;
        h2{
            padding-bottom: 30px;
            margin-bottom: 0;
        }
        form{
            text-align: left;
            width: 100%;
            margin: 0 5% 0 0;
            #provincia{
                font-family: 'Work Sans', sans-serif;
            }
            .centrarbotones{
                margin-top: 0.5rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                .boton{
                    border: 0px;
                    color: $colorblanco;
                    animation-duration: 3s;
                    animation-delay: 2s;
                    background-color: $colorppal;
                    font-family: $fuentebotones;
                    font-size: 1rem;
                    font-weight: 400;
                    padding: 7px;
                    width: 150px;
                    text-align: center;
                    border-radius: 50px;
                    text-transform: uppercase;
                }
                .boton:hover{
                    font-weight: bold;
                }
                .b1{
                    margin-right: 10px;
                }
            }
        }
    }
    .mapa{
        height: 600px;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 20px;
    }
}


label{
    width: 100%;
    margin:0 0 1rem 0;

}
.completar {
    display: flex;
    width: 100%;
}

select {
  display: block;
  width: 100%;
  margin:.4rem 0 1.4rem 0;
}

.check{
    position: relative;
    margin: 1rem 0;
}