/*-----contacto-------------------------------------------------------------*/
form{
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

table{
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    border: 2px solid #c71c24;
    width: 100%;
}

.rojo{
    background-color: #c71c24;
    color: white;
}

/*------blog-----------------------------------------*/

#articulos{
    padding: 90px 0 0 0;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

#articulos .posteo{
    background-color: whitesmoke;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.8);
}

#articulos .posteo .imagen img{
    width: 100%;
}

#articulos .posteo .resumen .titulotercera{
    color: #c71c24;
    padding: 15px;
    margin: 0;
    text-align: center;
}

#articulos .posteo .resumen p{
    padding: 0 15px 15px 15px;
    margin: 0;
    text-align: center;
}

#articulos .posteo .resumen .boton{
    height: 20px;
    margin: 15px auto;
    width: 85%;
}