/*-----GENERALES-------------------------------------------------------------*/
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.tituloppal{
    color: #c71c24;
    font-size: 6rem;
    line-height: 6rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    margin: 0px;
}

.titulosecundario{
    font-family: 'Work Sans', sans-serif;
    font-size: 3rem;
    color: #c71c24;
}

.titulotercera{
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    color: #c71c24;
}

p{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.4rem;
}

.negrita{
    font-weight: bold;
}

.roja{
    color: #c71c24;
}

.blanca{
    color: white;
}

/*----HEADER--------------------------------------------------------------*/
main{
    margin: 5%;
    position: relative;
    top: 40px;
}

header{
    background-color: #c71c24;
    display: inline-block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.logo{
    width: 150px;
    padding: 15px 0 15px 5%;
    float: left;
}

nav ul{
    position: absolute;
    right: 5%;
    top: 5px;
}

nav ul li{
    font-family: 'Work Sans', sans-serif;
    list-style:none;
    text-transform: uppercase;   
    display: inline-block;
    padding-left: 30px;  
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    font-weight: bold;
}

.sombra{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 62px;
    width: 100%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.8);
    z-index: -99;
}

/*-----INTRO-----------------------------------------------------------------*/

#presentacion{
    margin: 90px 0 20px 0;
}

#presentacion .informacion{
    float: left;
    width: 50%;
}

@keyframes mover{
    0%{transform: rotate(20deg);}
    50%{transform: rotate(25deg); }
    100%{transform: rotate(20deg);}
}

#presentacion .foto{
    display: flex;
    flex-direction: column;
    height: 470px;
}

#presentacion .foto img{
    height: 450px;
    align-self: center;
    z-index: 99;
    animation: mover 6s infinite;
    /* transform: rotate(25deg); */
}

#presentacion .informacion p{
    margin: 40px 0 30px 0;
    width: 95%;
}

.boton{
    background-color: #c71c24;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color:white;
    padding: 7px;
    width: 200px;
    text-align: center;
    border-radius: 50px;
    text-transform: uppercase;
}

.boton:hover{
    font-weight: bold;
}

@keyframes achicar{
    0%{transform: scale(1);}
    50%{transform: scale(0.9);}
    100%{transform: scale(1);}
}

@keyframes achicar2{
    0%{transform: scale(0.8);}
    50%{transform: scale(1);}
    100%{transform: scale(0.8);}
}

.circulo{
    border-radius: 50%;
}

.c1{
    animation: achicar 5s infinite;
    background:  #c71c24;
    width: 650px;
    height: 650px;
    position: absolute;
    top: -240px;
    right: -160px;
    
}

.c2{
    animation: achicar2 6s infinite;
    background:  white;
    width: 400px;
    height: 400px;
    position: absolute;
    top: -100px;
    right: -30px;
}



/*-----NOSOTROS-------------------------------------------------------------*/

#nosotros{
    display: flex;
    flex-direction: row;
    padding-top: 90px;  
    padding-bottom: 70px;  
}

#nosotros .foto{
    order: -1;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#nosotros .foto img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
} 

#nosotros .informacion{
    text-align: center;
    width: 50%;
    align-self: center;   
}

#nosotros .foto img:hover{
    transition: 2s ease;
    filter: invert(100%);
}

#nosotros .informacion p{
    padding: 0 5%;
}

/*-----QUE HACEMOS------------------------------------------------------------*/

#quehacemos{
    
    display: flex;
    flex-direction: row;
}

#quehacemos .informacion{
    align-self: center;
    float: left;
    width: 50%;
    text-align: center;
}

#quehacemos p{
    padding: 0 5%;
}


#quehacemos .informacion ul{
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 16px;
    padding: 0;
}

#quehacemos .informacion ul li::before{
    content: "\2022";
    color: #c71c24;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

#quehacemos .foto{
    width: 50%;
    display: flex;
    flex-direction: column;
 }

 #quehacemos .foto img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
} 


#quehacemos .foto img:hover{
    transition: 2s ease;
    filter: invert(100%);
}


/*-----LO QUE TE ENSEÑAMOS / ALUMNOS------------------------------------------*/

 #nuestrapropuesta .informacion .titulosecundario{
    margin-top: 90px;
}

#nuestrapropuesta .informacion{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

#nuestrapropuesta .informacion p{
    width: 60%;
    align-self: center;
    margin: -10px 0 50px 0;
}

#nuestrapropuesta ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#nuestrapropuesta ul li{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0 10px;
    width: 20%;
}

.iconos-svg{
    height: 120px;
    margin: 0;
    padding: 0;
}

#nuestrapropuesta ul li h3{
    color: #c71c24;
}

.trabajosalumnos{
    text-align: center;
    margin-top: 80px;
}

.trabajosalumnos .fotosalumnos{
    margin: 0 -5.5%;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.trabajosalumnos .fotosalumnos img{
    width: 33.33%;
    height: 400px;
    object-fit: cover;
}

.trabajosalumnos .fotosalumnos img:hover{
    transition: 2s ease;
    filter: invert(100%);
}

/*----CONTACTO------------------------------------------------------------*/

#contacto {
    text-align: right;
    display: flex;
    flex-direction: row;
    padding: 80px 0 0 0;
}

#contacto .informacion{
    width: 50%;
    margin-right: 5%;
}

#contacto .mapa{
    height: 600px;
    width: 50%;
}

#provincia{
    font-family: 'Work Sans', sans-serif;
}

form .boton{
    border: 0px;
}



/*-----FOOTER-------------------------------------------------------------*/
footer {
    background-color: #c71c24;
    color: white;
    padding: 7px;
    display: flex;
    flex-direction: row;
    padding: 15px 0;
}

.datosfinales{
    margin: 0 5%;
    width: 50%;
}

.iconos{
    width: 50%;
    margin: 0 5%;
    text-align: right;
    align-self: center; 
}

.iconos a{
   font-size: 1.5rem;
   padding: 0px 10px;
}


/*-----BLOG-------------------------------------------------------------*/
form{
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

table{
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    border: 2px solid #c71c24;
}

.rojo{
    background-color: #c71c24;
    color: white;
}

td{
    width: 140px;
}

th{
    width: 100px;
}