@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.tituloppal {
  color: #c71c24;
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 900;
  margin: 0px;
}

.titulosecundario {
  font-size: 3rem;
  color: #c71c24;
  font-weight: bold;
}

.titulotercera {
  font-size: 2rem;
  color: #c71c24;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4rem;
}

.negrita {
  font-weight: bold;
}

.roja {
  color: #c71c24;
}

.blanca {
  color: whitesmoke;
}

header #barranavegacion {
  width: 100%;
  padding: 0px 5%;
  position: fixed;
  height: 60px;
  top: 0;
  background-color: #c71c24;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #barranavegacion a {
  position: fixed;
  z-index: 102;
}

header #barranavegacion a .logo {
  width: 150px;
  padding: 15px 0 15px 5%;
}

header #barranavegacion nav {
  z-index: 15;
}

header #barranavegacion nav .menu {
  margin-top: 24px;
  /*---------CHECKBOX TRANSPARENTE-----------*/
  /*---------SPAN MENÚ HAMBURGUESA-----------*/
  /*---------MOVIMIENTO A CRUZ-----------*/
}

header #barranavegacion nav .menu ul {
  width: 100%;
  position: absolute;
  top: 60px;
  right: 0;
  overflow: hidden;
  background-color: whitesmoke;
  height: 0px;
  padding: 0;
}

header #barranavegacion nav .menu ul li {
  list-style: none;
  padding: 18px 5% 16px 5%;
  position: relative;
  text-transform: uppercase;
}

header #barranavegacion nav .menu ul li a {
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  color: #c71c24;
  letter-spacing: 0;
  display: block;
}

header #barranavegacion nav .menu ul li:hover {
  background-color: #c71c24;
}

header #barranavegacion nav .menu ul li:hover a {
  color: whitesmoke;
  text-decoration: none;
}

header #barranavegacion nav .menu ul li:active {
  background-color: whitesmoke;
}

header #barranavegacion nav .menu ul li:active a {
  font-weight: bold;
  color: #c71c24;
}

header #barranavegacion nav .menu input[type="checkbox"]:checked ~ ul {
  height: 350px;
}

header #barranavegacion nav .menu input {
  display: block;
  width: 60px;
  height: 60px;
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 3.5%;
}

header #barranavegacion nav .menu span {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
  position: relative;
  background: whitesmoke;
  z-index: 11;
  -webkit-transform-origin: 3.75px 1px;
          transform-origin: 3.75px 1px;
}

header #barranavegacion nav .menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2px, 1px);
          transform: rotate(45deg) translate(2px, 1px);
}

header #barranavegacion nav .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

header #barranavegacion nav .menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(1px, 0px);
          transform: rotate(-45deg) translate(1px, 0px);
}

header #barranavegacion .sombra {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 60px;
  width: 100%;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.8);
  /* z-index: -99; */
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@-webkit-keyframes achicar {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes achicar {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes achicar2 {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes achicar2 {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

main {
  margin: 5%;
  position: relative;
  top: 40px;
  width: 90%;
}

main #presentacion, main .container {
  margin: 90px 0 20px 0;
}

main #presentacion .row .informacion, main .container .row .informacion {
  float: left;
  width: 100%;
  padding: 0;
}

main #presentacion .row .informacion h1, main .container .row .informacion h1 {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  font-size: 4rem;
  line-height: 4rem;
}

main #presentacion .row .informacion p, main .container .row .informacion p {
  margin: 40px 0 30px 0;
  width: 100%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

main #presentacion .row .informacion .boton, main .container .row .informacion .boton {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  background-color: #c71c24;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 7px;
  width: 200px;
  text-align: center;
  border-radius: 50px;
  text-transform: uppercase;
}

main #presentacion .row .informacion .boton a, main .container .row .informacion .boton a {
  color: whitesmoke;
  text-decoration: none;
}

main #presentacion .row .informacion .boton a:hover, main .container .row .informacion .boton a:hover {
  font-weight: bold;
}

main #presentacion .row .foto, main .container .row .foto {
  display: none;
}

main #nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 90px;
}

main #nosotros .row .informacion {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 50px;
}

main #nosotros .row .informacion p {
  padding: 1rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1rem;
}

main #nosotros .row .foto {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #nosotros .row .foto img {
  width: 100%;
  max-width: 500px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #nosotros .row .foto img:hover {
  -webkit-transition: 2s ease;
  transition: 2s ease;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #quehacemos {
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #quehacemos .row .informacion {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 50px;
}

main #quehacemos .row .informacion p {
  padding: 0;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #quehacemos .row .informacion ul {
  list-style: none;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 16px;
  padding: 0;
}

main #quehacemos .row .informacion ul li::before {
  content: "\2022";
  color: #c71c24;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

main #quehacemos .row .foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

main #quehacemos .row .foto img {
  width: 100%;
  max-width: 500px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: none;
          animation: none;
}

main #quehacemos .row .foto img:hover {
  -webkit-transition: 2s ease;
  transition: 2s ease;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #nuestrapropuesta {
  height: 100%;
}

main #nuestrapropuesta .informacion {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}

main #nuestrapropuesta .informacion .titulosecundario {
  margin-top: 90px;
}

main #nuestrapropuesta .informacion p {
  padding: 1rem 0;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
}

main #nuestrapropuesta ul.row {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #nuestrapropuesta ul.row li {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  margin: 0px;
  padding: 0 10px;
  width: 100%;
}

main #nuestrapropuesta ul.row li .iconos-svg {
  height: 120px;
  margin: 0;
  padding: 0;
}

main #nuestrapropuesta ul.row li h3 {
  color: #c71c24;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}

main #nuestrapropuesta #trabajosalumnos {
  padding-top: 90px;
  text-align: center;
}

main #nuestrapropuesta #trabajosalumnos .titulotercera {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 2rem;
}

main #nuestrapropuesta #trabajosalumnos .fotosalumnos {
  width: 122%;
  margin: 0 -11%;
}

main #nuestrapropuesta #trabajosalumnos .fotosalumnos .fotoindividual {
  height: 400px;
  width: 100%;
}

main #nuestrapropuesta #trabajosalumnos .fotosalumnos .fotoindividual img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

main #nuestrapropuesta #trabajosalumnos .fotosalumnos .fotoindividual .nombrealumno {
  background-color: #c71c24;
  color: white;
  position: relative;
  bottom: 50px;
  width: 90%;
  margin: 0 5%;
  border-radius: 50px;
}

main #nuestrapropuesta #trabajosalumnos .fotosalumnos .fotoindividual .nombrealumno p {
  margin: 0px;
  text-align: center;
  padding: 3px;
  display: none;
}

main #nuestrapropuesta #trabajosalumnos .fotosalumnos .fotoindividual:hover img {
  -webkit-transition: 2s ease;
  transition: 2s ease;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 100%;
}

main #nuestrapropuesta #trabajosalumnos .fotosalumnos .fotoindividual:hover .nombrealumno p {
  display: inherit;
}

#contacto {
  text-align: center;
  padding: 80px 0 0 0;
  margin: initial;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin-bottom: 80px;
}

#contacto .informacion {
  float: left;
  width: 100%;
  padding: 0;
}

#contacto .informacion h2 {
  padding-bottom: 30px;
  margin-bottom: 0;
}

#contacto .informacion form {
  text-align: left;
  width: 100%;
  margin: 0 5% 0 0;
}

#contacto .informacion form #provincia {
  font-family: 'Work Sans', sans-serif;
}

#contacto .informacion form .centrarbotones {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contacto .informacion form .centrarbotones .boton {
  border: 0px;
  color: whitesmoke;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  background-color: #c71c24;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 7px;
  width: 150px;
  text-align: center;
  border-radius: 50px;
  text-transform: uppercase;
}

#contacto .informacion form .centrarbotones .boton:hover {
  font-weight: bold;
}

#contacto .informacion form .centrarbotones .b1 {
  margin-right: 10px;
}

#contacto .mapa {
  height: 600px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

label {
  width: 100%;
  margin: 0 0 1rem 0;
}

.completar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

select {
  display: block;
  width: 100%;
  margin: .4rem 0 1.4rem 0;
}

.check {
  position: relative;
  margin: 1rem 0;
}

footer {
  background-color: #c71c24;
  color: whitesmoke;
  padding: 10px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

footer .datosfinales {
  margin: 0 5%;
  text-align: center;
}

footer .iconos {
  margin: 0 5%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .iconos a {
  color: whitesmoke;
  font-size: 1.4rem;
  padding: 0px 10px;
}

/*------------------PANTALLA 1024px--------------------*/
@media screen and (min-width: 1050px) {
  main #presentacion .row .informacion {
    width: 50%;
  }
  main #presentacion .row .informacion h1 {
    font-size: 6rem;
    line-height: 6rem;
  }
  main #presentacion .row .foto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    height: 470px;
    padding: 0 60px 0 0;
  }
  main #presentacion .row .foto img {
    height: 450px;
    z-index: 99;
    -webkit-animation: mover 6s infinite;
            animation: mover 6s infinite;
  }
  main #presentacion .row .foto .circulo {
    border-radius: 50%;
  }
  main #presentacion .row .foto .c1 {
    -webkit-animation: achicar 5s infinite;
            animation: achicar 5s infinite;
    background: #c71c24;
    width: 650px;
    height: 650px;
    position: absolute;
    top: -240px;
    right: -160px;
  }
  main #presentacion .row .foto .c2 {
    -webkit-animation: achicar2 6s infinite;
            animation: achicar2 6s infinite;
    background: whitesmoke;
    width: 400px;
    height: 400px;
    position: absolute;
    top: -100px;
    right: -30px;
  }
  main #quehacemos .row .foto {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main #nuestrapropuesta .informacion p {
    width: 60%;
  }
  main #nuestrapropuesta ul.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main #nuestrapropuesta ul.row li {
    width: 20%;
  }
  main #nuestrapropuesta #trabajosalumnos .fotosalumnos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    margin: initial;
    width: 100%;
  }
  main #contacto {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  main #contacto .mapa {
    margin: 0;
  }
}

@media screen and (min-width: 950px) {
  header #barranavegacion {
    display: inline-block;
  }
  header #barranavegacion a .logo {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding-left: 0;
    width: 142.5px;
  }
  header #barranavegacion nav {
    position: fixed;
    top: -60px;
    right: 5%;
  }
  header #barranavegacion nav .menu ul {
    overflow: visible;
    /* position: absolute;
                        top: 5px;
                        right: 5%; */
    background-color: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    top: 70px;
  }
  header #barranavegacion nav .menu ul li {
    display: inline;
    padding-left: 28px;
  }
  header #barranavegacion nav .menu ul li a {
    color: whitesmoke;
    margin-top: -8px;
  }
  header #barranavegacion nav .menu ul li a:hover {
    font-weight: bold;
    color: whitesmoke;
  }
  header #barranavegacion nav .menu ul li:hover {
    background-color: initial;
  }
  header #barranavegacion nav .menu ul .botonblanco a {
    color: #c71c24;
    background-color: whitesmoke;
    padding: 0 20px;
    border-radius: 50px;
    font-weight: bold;
  }
  header #barranavegacion nav .menu ul .botonblanco a:hover {
    font-weight: normal;
    color: #c71c24;
  }
  header #barranavegacion nav .menu ul .botonblanco:hover a {
    color: #c71c24;
    background-color: whitesmoke;
  }
  header #barranavegacion nav .menu ul .botonblanco:hover a:hover {
    color: #c71c24;
  }
  header #barranavegacion nav .menu span {
    display: none;
  }
  header #barranavegacion nav input#checkbox {
    display: none;
  }
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    padding-left: 5%;
    padding-right: 5%;
  }
  footer .datosfinales {
    text-align: center;
    margin: 0;
  }
  footer .izquierda {
    text-align: left;
  }
  footer .iconos {
    text-align: right;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */